<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "NYT GeoMaps", root_path, class: "navbar-brand", id: "logo" %>
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Team", team_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>